@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate {
  animation-fill-mode: both;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

.fade-in {
  animation-name: fadeIn;
}

.slide-in-up {
  animation-name: slideInUp;
}

.slide-in-down {
  animation-name: slideInDown;
}
.slide-in-left {
  animation-name: slideInLeft;
}
.slide-in-right {
  animation-name: slideInRight;
}
.scale-in {
  animation-name: scaleIn;
}
.bounce-in {
  animation-name: bounceIn;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: calc(var(--delay, 0) + 0.04s);
}

.delay-2 {
  animation-delay: calc(var(--delay, 0) + 0.08s);
}

.delay-3 {
  animation-delay: calc(var(--delay, 0) + 0.12s);
}

.delay-4 {
  animation-delay: calc(var(--delay, 0) + 0.16s);
}

.delay-5 {
  animation-delay: calc(var(--delay, 0) + 0.2s);
}
